@import './components/LookupItem/lookup-item.scss';
@import './components/ToggleButton/toggle-button.scss';
@import './components/TreeLine/tree-line.scss';
@import './components/TreeRow/tree-row.scss';
@import './components/SubtreeRow/subtree-row.scss';

div.lookup-item {
    & + a {
        margin-left: 0.5em;
    }
}

.is-interactive {
    cursor: pointer;
}

table.nested-tree {
    & td {
        vertical-align: middle;

        &.has-tree-button {
            border-bottom-style: none;
        }
        
        & > p {
            margin-top: 0;
        }
        
        & > svg.inline-icon {
            margin-right: 0.5em;
        }
    }
    
    & td,
    & th {
        & > div {
            &.tag {
                & > svg {
                    margin-right: 0.5em;
                }
            }
        }
    }
}
